@{Layout = "~/Views/Shared/_Layout.cshtml";}

<div>
    <form method="post" action="/Login">
        <div class="loginDiv">
            <div>User Name</div>
            <input type="text" name="username" value="nanme" />
        </div>
        <div class="loginDiv">
            <div>Password</div>
            <input type="password" name="password" value="password" />
        </div>
        <div class="loginDiv">
            <div>Mobile Number</div>
            <input type="text" name="mobile" value="mobile" />
        </div>
        <div class="loginDiv">
            <div>Email Address</div>
            <input type="text" name="email" value="email@email.com" />
        </div>
        <div id="loginButton" class="loginDiv">
            <input type="submit" value="Login">
        </div>
    </form>
</div>